# Copy this to .env.local file
NEXT_PUBLIC_SUPABASE_URL=https://lcxmwghgehhrabhaqgxl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxjeG13Z2hnZWhocmFiaGFxZ3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYxNTEyODksImV4cCI6MjA3MTcyNzI4OX0.rt9_P91cK2D5kqSAa8wdSviIAHE05_8rDam7v69vsiE
